# Project

### (Soft) Deadline: 22 Feb!

---

## Scope & Ground Rules


### Part 1 | Scope

It's composed for `N` small assignments with guidelines. The assignment score ranges from **0 to N** and are **evenly distributed across all questions**. 

### Part 2 | Scope

Part 2 entails a project using the same dataset. The goal is to prove your data preprocessing skills. As output from this project, you should delivery the **notebook with the code you have done**.

Please apply, at least, **6 transformations** to the feature set you have in hands (or to the features which makes sense to apply the transformation). Each transformation should be accompanied by an explanation . Last but not least, compare the benefits of such transformation with the baseline score or the last best score. 

Regarding the variables you have to use throughout the Part 2, there are 6 in the total, 3 of them you are free to choose while the remaining 3 I have picked for you:
* YearBuilt
* LotFrontage
* MasVnrType

Make your baseline progressive, i.e. please consider the score from the previous transformation as the new baseline if it shows improvements. Example:

    Baseline - subset of transformations [None]  = 60% accuracy
    Iteration #1 - subset of transformations [A]     = 64% accuracy -> new baseline
    Iteration #2 - subset of transformations [A,B]   = 63% accuracy
    Iteration #3 - subset of transformations [A,B,C] = 68% accuracy -> new baseline
    ...
    Iteration #N - subset of transformations [A,B,C,..., N]
    (Being A, B, C a transformation that uses 1 or N features.)

Transformation example: encoding `color` & `country` with `One-Hot-Encoding`.

The `target` variable should be used to compute the accuracy (please use the `Target` you have created on the exercise 2.1, part1).


**Any question please revert yo me via Slack or Email.**


---

**IMPORTANT NOTES to have in mind** 

a) Code Readability is taken into account for the evaluation, so please make it simple, readable and explain your operations when necessary.

b) Make sure that the evaluater can re-run the notebook from the begining, i.e. before you delivery the assignment please go to the bar on top of your notebook -> `Kernel` -> `Restart & Run all`. Validate that all outputs are as you expect.

----


## How can I delivery the Project?



**Email contact**

Please email me via `carlosfeup55@gmail.com` with the following subject:

`[MPPD Project] John Doe` - including the brackets !!!


**Deliverable**

1) Notebook with the code used for both parts, 1 and 2.

2) The notebook **NAME** should follow the notation:

```
 <MyFirstNameAndLastName>_MPPD_project.ipynb
```

E.g. `CarlosRodrigues_MPPD_project.ipynb`

---

---

## Setup

Feel free to add any Python package as you please

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = None

import warnings

warnings.filterwarnings('ignore')


from sklearn.preprocessing import (
    MinMaxScaler,
    StandardScaler,
)

from sklearn.preprocessing import KBinsDiscretizer
from category_encoders import BinaryEncoder

from pgds_mpp_utils import train_and_evaluation

---

# Part 1

## 1- Load Data

1.1- Load **houses.csv** to a Pandas DataFrame

In [2]:
houses = pd.read_csv('houses.csv')

In [3]:
houses.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

1.2- Print dataset total number of `observations` and `variables`

In [4]:
houses.shape

(1460, 81)

---

### Please find below the subset of columns we are going to consider for the rest of the assignment

In [5]:
columns_list = ['FullBath',
                'TotRmsAbvGrd',
                'Fireplaces',
                'GarageYrBlt',
                'GarageCars',
                'GarageArea',
                'LotFrontage',
                'WoodDeckSF',
                'OpenPorchSF',
                'SaleType',
                'SaleCondition',
                'SalePrice']

1.3- Create a new dataframe which is a subset of the origin dataframe based on the columns listed above.

In [6]:
data = houses.filter(columns_list, axis=1)

In [9]:
data.head()

,FullBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,LotFrontage,WoodDeckSF,OpenPorchSF,SaleType,SaleCondition,SalePrice
0,2,8,0,2003.0,2,548,65.0,0,61,WD,Normal,208500
1,2,6,1,1976.0,2,460,80.0,298,0,WD,Normal,181500
2,2,6,1,2001.0,2,608,68.0,0,42,WD,Normal,223500
3,1,7,1,1998.0,3,642,60.0,0,35,WD,Abnorml,140000
4,2,9,1,2000.0,3,836,84.0,192,84,WD,Normal,250000

## 2- Creating Lables

2.1- Create the `target` column based on `SalePrice`. The split should be done using the median value to create 2 new buckets. `Min->Median` bucket should have assigned the value `0` while the other bucket (`Median->Max`) value should be `1`.

Note: you are free to decide the buckets boundaries

In [10]:
data['target'] = 0

In [11]:
data.loc[data.SalePrice > data.SalePrice.median(), 'target'] = 1

In [12]:
data.head()

,FullBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,LotFrontage,WoodDeckSF,OpenPorchSF,SaleType,SaleCondition,SalePrice,target
0,2,8,0,2003.0,2,548,65.0,0,61,WD,Normal,208500,1
1,2,6,1,1976.0,2,460,80.0,298,0,WD,Normal,181500,1
2,2,6,1,2001.0,2,608,68.0,0,42,WD,Normal,223500,1
3,1,7,1,1998.0,3,642,60.0,0,35,WD,Abnorml,140000,0
4,2,9,1,2000.0,3,836,84.0,192,84,WD,Normal,250000,1

## 3- Handling Missing Values

3.1- List the amount of missing values per column

In [13]:
data.isnull().sum()

FullBath           0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       81
GarageCars         0
GarageArea         0
LotFrontage      259
WoodDeckSF         0
OpenPorchSF        0
SaleType           0
SaleCondition      0
SalePrice          0
target             0
dtype: int64

3.2- Take care of the missing values in the column `LotFrontage`

In [14]:
LotFrontage_median = data['LotFrontage'].median()
data['LotFrontage'] = data['LotFrontage'].replace(np.NaN, LotFrontage_median)

In [15]:
data['LotFrontage'].isnull().sum()

0

## 4- Handling Categorical Data

4.1- Split categorical feature into a `df_categorical` dataframe

In [16]:
data_categoric = data.select_dtypes(exclude='number')

In [17]:
data_categoric.head()

  SaleType SaleCondition
0       WD        Normal
1       WD        Normal
2       WD        Normal
3       WD       Abnorml
4       WD        Normal

4.2- Apply OHE to `SaleType`

In [18]:
data_ohe = pd.get_dummies(data[['SaleType']])

In [19]:
data_ohe.head()

,SaleType_COD,SaleType_CWD,SaleType_Con,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD
0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,1

## 5- Feature Scaling

5.1- Apply feature scaling to the variable `GarageArea`. Make sure that the new range fall between `-1/3` and `3`.

In [20]:
scaler = MinMaxScaler(feature_range=(-1/3, 3), copy=True)

In [21]:
data['feature_scaling'] = scaler.fit_transform(data[['GarageArea']])

In [22]:
data.head()

,FullBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,LotFrontage,WoodDeckSF,OpenPorchSF,SaleType,SaleCondition,SalePrice,target,feature_scaling
0,2,8,0,2003.0,2,548,65.0,0,61,WD,Normal,208500,1,0.954866
1,2,6,1,1976.0,2,460,80.0,298,0,WD,Normal,181500,1,0.748002
2,2,6,1,2001.0,2,608,68.0,0,42,WD,Normal,223500,1,1.095910
3,1,7,1,1998.0,3,642,60.0,0,35,WD,Abnorml,140000,0,1.175835
4,2,9,1,2000.0,3,836,84.0,192,84,WD,Normal,250000,1,1.631876

---

## End of Part 1 - Thank you very much!

---

---

# Part 2

Remark:
* you shall use 6 variable for the assessment
* 3 out of 6 features are designated in the section on the top of the notebook
* the 3 remaining variables are up to you to choose
* you can consider any variable from the original dataset during this assessment

Above all, take this opportunity to practice :)

**Good luck!**

**Choosing variables and build the dataset for Part 2**

3 variables were pre-choosen for this work:
   * YearBuilt - Original construction date
   * LotFrontage - Linear feet of street connected to property
   * MasVnrType -  Masonry veneer type

Other 3 still need to be choosen:
   * MSZoning - Identifies the general zoning classification of the sale.
   * GarageArea - Size of garage in square feet.
   * OverallCond - Rates the overall condition of the house.

In [21]:
# Building the dataframe for Part 2
df_houses = houses.filter(['YearBuilt',
                'LotFrontage',
                'MasVnrType',
                'MSZoning',
                'GarageArea',
                'Neighborhood'], axis = 1)

In [22]:
df_houses['target'] = data['target']

In [23]:
# the following code suplies familiarity with the new dataset
df_houses.head()

   YearBuilt  LotFrontage MasVnrType MSZoning  GarageArea Neighborhood  target
0       2003         65.0    BrkFace       RL         548      CollgCr       1
1       1976         80.0       None       RL         460      Veenker       1
2       2001         68.0    BrkFace       RL         608      CollgCr       1
3       1915         60.0       None       RL         642      Crawfor       0
4       2000         84.0    BrkFace       RL         836      NoRidge       1

In [24]:
df_houses.shape

(1460, 7)

In [25]:
df_houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   YearBuilt     1460 non-null   int64
 1   LotFrontage   1201 non-null   float64
 2   MasVnrType    1452 non-null   object
 3   MSZoning      1460 non-null   object
 4   GarageArea    1460 non-null   int64
 5   Neighborhood  1460 non-null   object
 6   target        1460 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 80.0+ KB

In [26]:
df_houses.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
YearBuilt,1460.0,NaN,NaN,NaN,1971.267808,30.202904,1872.0,1954.0,1973.0,2000.0,2010.0
LotFrontage,1201.0,NaN,NaN,NaN,70.049958,24.284752,21.0,59.0,69.0,80.0,313.0
MasVnrType,1452,4,None,864,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MSZoning,1460,5,RL,1151,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GarageArea,1460.0,NaN,NaN,NaN,472.980137,213.804841,0.0,334.5,480.0,576.0,1418.0
Neighborhood,1460,25,NAmes,225,NaN,NaN,NaN,NaN,NaN,NaN,NaN
target,1460.0,NaN,NaN,NaN,0.49863,0.500169,0.0,0.0,0.0,1.0,1.0

In [27]:
df_houses.corr()

             YearBuilt  LotFrontage  GarageArea    target
YearBuilt     1.000000     0.123349    0.478954  0.569136
LotFrontage   0.123349     1.000000    0.344997  0.276393
GarageArea    0.478954     0.344997    1.000000  0.505068
target        0.569136     0.276393    0.505068  1.000000

**0.** Baseline - subset of transformations:

* Remove observations with NaN
* Remove categoric attributes

**Accurancy: 0.7443**

In [28]:
df_houses_0 = df_houses.copy()

In [29]:
df_houses_0.shape

(1460, 7)

In [30]:
df_houses_0.isnull().sum()

YearBuilt         0
LotFrontage     259
MasVnrType        8
MSZoning          0
GarageArea        0
Neighborhood      0
target            0
dtype: int64

In [31]:
# Remove observations (rows) with NaN

df_houses_0 = df_houses_0.dropna(axis=0).reset_index(drop=True)

In [32]:
df_houses_0.isnull().sum()

YearBuilt       0
LotFrontage     0
MasVnrType      0
MSZoning        0
GarageArea      0
Neighborhood    0
target          0
dtype: int64

In [33]:
df_houses_0.shape

(1195, 7)

In [34]:
#df_houses_0

In [35]:
# Remove categoric attributes 

df_houses_0_numeric = df_houses_0.select_dtypes(include='number')

In [36]:
df_houses_0_numeric.head(5)

   YearBuilt  LotFrontage  GarageArea  target
0       2003         65.0         548       1
1       1976         80.0         460       1
2       2001         68.0         608       1
3       1915         60.0         642       0
4       2000         84.0         836       1

In [37]:
# Remove the 'target' attribute and defining X

df_houses_0_numeric_x = df_houses_0_numeric.drop(['target'], axis=1)

In [38]:
# Calculate the baseline 

train_and_evaluation(X=df_houses_0_numeric_x, y=df_houses_0_numeric['target'])

0.7443037974683544

**1.** Subset of transformations:

* Remove Observation with NaN 
* Apply One Hot Enconding in the ['MasVnrType'], ['MSZoning'] e ['Neighborhood'] attributes

**Accuracy: 0.8531**

In [39]:
df_houses_1 = df_houses.copy()

In [40]:
# Remove observations (rows) with NaN

df_houses_1 = df_houses_1.dropna(axis=0).reset_index(drop=True)

In [41]:
df_houses_1.isnull().sum()

YearBuilt       0
LotFrontage     0
MasVnrType      0
MSZoning        0
GarageArea      0
Neighborhood    0
target          0
dtype: int64

In [42]:
df_houses_1.shape

(1195, 7)

In [43]:
#df_houses_1

In [44]:
# Applying One Hot Enconding (OHE)

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [45]:
# MasVnrType

MasVnrType_ohe = ohe.fit_transform(df_houses_1[['MasVnrType']])
MasVnrType_ohe = pd.DataFrame(MasVnrType_ohe, columns=list(ohe.categories_[0]))
#MasVnrType_ohe

In [46]:
# MSZoning

MSZoning_ohe = ohe.fit_transform(df_houses_1[['MSZoning']])
MSZoning_ohe = pd.DataFrame(MSZoning_ohe, columns=list(ohe.categories_[0]))
#MSZoning_ohe

In [47]:
# Neighborhood

Neighborhood_ohe = ohe.fit_transform(df_houses_1[['Neighborhood']])
Neighborhood_ohe = pd.DataFrame(Neighborhood_ohe, columns=list(ohe.categories_[0]))
#Neighborhood_ohe

In [48]:
# Concatenate the three dataframes: MSZoning_ohe, MSZoning_ohe and Neighborhood_oheto the df_houses_1 dataframe

df_houses_1_t = pd.concat([df_houses_1, MasVnrType_ohe], axis=1)

In [49]:
df_houses_1_t = pd.concat([df_houses_1_t, MSZoning_ohe], axis=1)

In [50]:
df_houses_1_t = pd.concat([df_houses_1_t, Neighborhood_ohe], axis=1)

In [51]:
#df_houses_1_t

In [52]:
# Drop the original attributes 'MasVnrType', 'MSZoning' and 'Neighborhood' as they are already encoded in the new dataframe

df_houses_1_t = df_houses_1_t.drop(['MasVnrType', 'MSZoning', 'Neighborhood'], axis=1)

In [53]:
df_houses_1_t.head(5)

,YearBuilt,LotFrontage,GarageArea,target,BrkCmn,BrkFace,None,Stone,C (all),FV,RH,RL,RM,Blmngtn,Blueste,BrDale,BrkSide,ClearCr,CollgCr,Crawfor,Edwards,Gilbert,IDOTRR,MeadowV,Mitchel,NAmes,NPkVill,NWAmes,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,2003,65.0,548,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1976,80.0,460,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2001,68.0,608,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1915,60.0,642,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2000,84.0,836,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
# Remove the 'target' attribute and defining X

df_houses_1_t_x = df_houses_1_t.drop(['target'], axis=1)

In [55]:
# Calculate the baseline for iteration 1

train_and_evaluation(X=df_houses_1_t_x, y=df_houses_1_t['target'])

0.8531645569620253

**2.** Subset of transformations:

* Replace NaN by the median in numeric attributes 
* Remove remaining NaN observation from dataframe
* Apply One Hot Encoding in the ['MasVnrType'], ['MSZoning'] e ['Neighborhood'] attributes

**Accuracy: 0.8541**

In [56]:
df_houses_2 = df_houses.copy()

In [57]:
# 'LotFrontage' is the only numeric attribute with NaN values

df_houses_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   YearBuilt     1460 non-null   int64
 1   LotFrontage   1201 non-null   float64
 2   MasVnrType    1452 non-null   object
 3   MSZoning      1460 non-null   object
 4   GarageArea    1460 non-null   int64
 5   Neighborhood  1460 non-null   object
 6   target        1460 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 80.0+ KB

In [58]:
# replace NaN observations with the median in the 'LotFrontage' attribute

LotFrontage_median = df_houses.LotFrontage.median()
df_houses_2['LotFrontage'] = df_houses_2['LotFrontage'].replace(np.NaN, LotFrontage_median)

In [59]:
#df_houses_2.info()

In [60]:
# Eliminating observation with NaN values in the 'MasVnrType' attribute   

df_houses_2 = df_houses_2.dropna(axis=0).reset_index(drop=True)

In [61]:
# Since we now have a different number of total observations (rows) we need to repeat the OHE

# MasVnrType

MasVnrType_2_ohe = ohe.fit_transform(df_houses_2[['MasVnrType']])
MasVnrType_2_ohe = pd.DataFrame(MasVnrType_2_ohe, columns=list(ohe.categories_[0]))
#MasVnrType_2_ohe

In [62]:
# MSZoning

MSZoning_2_ohe = ohe.fit_transform(df_houses_2[['MSZoning']])
MSZoning_2_ohe = pd.DataFrame(MSZoning_2_ohe, columns=list(ohe.categories_[0]))
#MSZoning_2_ohe

In [63]:
# Neighborhood

Neighborhood_2_ohe = ohe.fit_transform(df_houses_2[['Neighborhood']])
Neighborhood_2_ohe = pd.DataFrame(Neighborhood_2_ohe, columns=list(ohe.categories_[0]))
#Neighborhood_ohe

In [64]:
# Concatenate the thre dataframes: MSZoning_2_ohe, MSZoning_2_ohe and Neighborhood_2_ohe to the df_houses_2 dataframe

df_houses_2_t = pd.concat([df_houses_2, MasVnrType_2_ohe], axis=1)

In [65]:
df_houses_2_t = pd.concat([df_houses_2_t, MSZoning_2_ohe], axis=1)

In [66]:
df_houses_2_t = pd.concat([df_houses_2_t, Neighborhood_2_ohe], axis=1)

In [67]:
#df_houses_2_t

In [68]:
# Drop the original atributes 'MasVnrType', 'MSZoning' and 'Neighborhood'

df_houses_2_t = df_houses_2_t.drop(['MasVnrType', 'MSZoning', 'Neighborhood'], axis=1)

In [69]:
df_houses_2_t.head(5)

,YearBuilt,LotFrontage,GarageArea,target,BrkCmn,BrkFace,None,Stone,C (all),FV,RH,RL,RM,Blmngtn,Blueste,BrDale,BrkSide,ClearCr,CollgCr,Crawfor,Edwards,Gilbert,IDOTRR,MeadowV,Mitchel,NAmes,NPkVill,NWAmes,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,2003,65.0,548,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1976,80.0,460,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2001,68.0,608,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1915,60.0,642,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2000,84.0,836,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
# Remove the 'target' attribute and defining X

df_houses_2_t_x = df_houses_2_t.drop(['target'], axis=1)

In [71]:
# Calculate the baseline for iteration 2

train_and_evaluation(X=df_houses_2_t_x, y=df_houses_2_t['target'])

0.8541666666666666

**3.** Subset of transformations:

* Replace NaN observations in categoric attributes by the mode
* Replace NaN observation in numeric attributes by the median 
* Apply One Hot Encoding in the ['MasVnrType'], ['MSZoning'] e ['Neighborhood'] attributes

**Accuracy: 0.8340**

In [72]:
df_houses_3 = df_houses.copy()

In [73]:
# Replace NaN observations with the median in the 'LotFrontage' attribute

LotFrontage_median = df_houses_3.LotFrontage.median()
df_houses_3['LotFrontage'] = df_houses_3['LotFrontage'].replace(np.NaN, LotFrontage_median)

In [74]:
# Replace NaN observations with the mode in the 'MasVnrType' attribute

df_houses_3['MasVnrType'] = df_houses_3['MasVnrType'].replace(np.NaN, df_houses_3['MasVnrType'].mode()[0])

In [75]:
#df_houses_3.isnull().sum()

In [76]:
#df_houses_3

In [77]:
# Since we now have a different number of total observations (rows) we need to repeat the OHE 

# MasVnrType

MasVnrType_3_ohe = ohe.fit_transform(df_houses_3[['MasVnrType']])
MasVnrType_3_ohe = pd.DataFrame(MasVnrType_3_ohe, columns=list(ohe.categories_[0]))
#MasVnrType_3_ohe

In [78]:
# MSZoning

MSZoning_3_ohe = ohe.fit_transform(df_houses_3[['MSZoning']])
MSZoning_3_ohe = pd.DataFrame(MSZoning_3_ohe, columns=list(ohe.categories_[0]))
#MSZoning_3_ohe

In [79]:
# Neighborhood

Neighborhood_3_ohe = ohe.fit_transform(df_houses_3[['Neighborhood']])
Neighborhood_3_ohe = pd.DataFrame(Neighborhood_3_ohe, columns=list(ohe.categories_[0]))
#Neighborhood_ohe

In [80]:
# Concatenate the three dataframes: MSZoning_3_ohe and MSZoning_3_ohe to the df_houses_3 dataframe

df_houses_3_t = pd.concat([df_houses_3, MasVnrType_3_ohe], axis=1)

In [81]:
df_houses_3_t = pd.concat([df_houses_3_t, MSZoning_3_ohe], axis=1)

In [82]:
df_houses_3_t = pd.concat([df_houses_3_t, Neighborhood_3_ohe], axis=1)

In [83]:
#df_houses_3_t

In [84]:
# Drop the original attributes 'MasVnrType', 'MSZoning' and 'Neighborhood'

df_houses_3_t = df_houses_3_t.drop(['MasVnrType', 'MSZoning', 'Neighborhood'], axis=1)

In [85]:
df_houses_3_t.head(5)

,YearBuilt,LotFrontage,GarageArea,target,BrkCmn,BrkFace,None,Stone,C (all),FV,RH,RL,RM,Blmngtn,Blueste,BrDale,BrkSide,ClearCr,CollgCr,Crawfor,Edwards,Gilbert,IDOTRR,MeadowV,Mitchel,NAmes,NPkVill,NWAmes,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,2003,65.0,548,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1976,80.0,460,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2001,68.0,608,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1915,60.0,642,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2000,84.0,836,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
# Remove the 'target' attribute and defining X

df_houses_3_t_x = df_houses_3_t.drop(['target'], axis=1)

In [87]:
# Calculate the baseline for iteration 3

train_and_evaluation(X=df_houses_3_t_x, y=df_houses_3_t['target'])

0.8340248962655602

**4.** Baseline - subset of transformations:

* Replace NaN observations in categoric attributes by the mode
* Replace NaN observation in numeric attributes by the median 
* Apply Binary-encoding in the ['MasVnrType'], ['MSZoning'] e ['Neighborhood'] attributes

**Accuracy: 0.7925**

In [88]:
# We can use the df_houses_3 dataframe since it have the NaN observation replaced by the mode and median

df_houses_4 = df_houses_3.copy()

In [89]:
df_houses_4.isnull().sum()

YearBuilt       0
LotFrontage     0
MasVnrType      0
MSZoning        0
GarageArea      0
Neighborhood    0
target          0
dtype: int64

In [90]:
df_houses_4.shape

(1460, 7)

In [91]:
# Apply Binary encoding

In [92]:
binary_encoder = BinaryEncoder(drop_invariant=True)

In [93]:
binary_MasVnrType = binary_encoder.fit_transform(df_houses_4[['MasVnrType']])

In [94]:
#binary_MasVnrType

In [95]:
binary_encoder = BinaryEncoder(drop_invariant=True)

In [96]:
binary_MSZoning = binary_encoder.fit_transform(df_houses_4[['MSZoning']])

In [97]:
#binary_MSZoning

In [98]:
binary_encoder = BinaryEncoder(drop_invariant=True)

In [99]:
binary_Neighborhood = binary_encoder.fit_transform(df_houses_4[['Neighborhood']])

In [100]:
#binary_Neighborhood

In [101]:
# Concatenate the three dataframes: binary_MasVnrType, binary_MSZoning and binary_Neighborhood to the df_houses_4 dataframe

df_houses_4_t = pd.concat([df_houses_4, binary_MasVnrType], axis=1)

In [102]:
df_houses_4_t = pd.concat([df_houses_4_t, binary_MSZoning], axis=1)

In [103]:
df_houses_4_t = pd.concat([df_houses_4_t, binary_Neighborhood], axis=1)

In [104]:
#df_houses_4_t

In [105]:
# Drop the original atributes 'MasVnrType', 'MSZoning' and 'Neighborhood'

df_houses_4_t = df_houses_4_t.drop(['MasVnrType', 'MSZoning', 'Neighborhood'], axis=1)

In [106]:
df_houses_4_t.head(5)

,YearBuilt,LotFrontage,GarageArea,target,MasVnrType_0,MasVnrType_1,MasVnrType_2,MSZoning_1,MSZoning_2,MSZoning_3,Neighborhood_1,Neighborhood_2,Neighborhood_3,Neighborhood_4,Neighborhood_5
0,2003,65.0,548,1,0,0,1,0,0,1,0,0,0,0,1
1,1976,80.0,460,1,0,1,0,0,0,1,0,0,0,1,0
2,2001,68.0,608,1,0,0,1,0,0,1,0,0,0,0,1
3,1915,60.0,642,0,0,1,0,0,0,1,0,0,0,1,1
4,2000,84.0,836,1,0,0,1,0,0,1,0,0,1,0,0

In [107]:
# Remove the 'target' atribute and defining X

df_houses_4_t_x = df_houses_4_t.drop(['target'], axis=1)

In [108]:
# Calculate the baseline for iteration 4

train_and_evaluation(X=df_houses_4_t_x, y=df_houses_4_t['target'])

0.7925311203319502

**5.** Baseline - subset of transformations:

* Replace NaN observations in categoric attributes by the mode
* Replace NaN observation in numeric attributes by the median 
* Apply Binary-encoding in the ['MasVnrType'], ['MSZoning'] and ['Neighborhood'] attributes
* Apply equi-size bins (10) and e smoothing with the bin median in the ['YearBuilt'], ['LotFrontage'] and ['GarageArea'] attributes

**Accuracy: 0.8247**

In [109]:
# We can use the df_houses_3 dataframe since it have the NaN observation replaced by the mode and median

df_houses_5 = df_houses_3.copy()

In [110]:
df_houses_5.shape

(1460, 7)

In [111]:
# Applying Bins and smoothing with bins median

In [112]:
YearBuilt = pd.DataFrame(df_houses_5['YearBuilt'])

In [113]:
df_houses_5['YearBuilt_bins'] = pd.qcut(df_houses_5['YearBuilt'], q=10, labels=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

In [114]:
mask = df_houses_5.groupby('YearBuilt_bins')['YearBuilt'].median()

In [115]:
df_houses_5['YearBuilt_labels'] = df_houses_5['YearBuilt_bins'].map(mask)

In [116]:
#df_houses_5

In [117]:
LotFrontage = pd.DataFrame(df_houses_5['LotFrontage'])

In [118]:
df_houses_5['LotFrontage_bins'] = pd.qcut(df_houses_5['LotFrontage'], q=10, labels=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

In [119]:
mask = df_houses_5.groupby('LotFrontage_bins')['LotFrontage'].median()

In [120]:
df_houses_5['LotFrontage_labels'] = df_houses_5['LotFrontage_bins'].map(mask)

In [121]:
#df_houses_5

In [122]:
LotFrontage = pd.DataFrame(df_houses_5['GarageArea'])

In [123]:
df_houses_5['GarageArea_bins'] = pd.qcut(df_houses_5['GarageArea'], q=10, labels=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

In [124]:
mask = df_houses_5.groupby('GarageArea_bins')['GarageArea'].median()

In [125]:
df_houses_5['GarageArea_labels'] = df_houses_5['GarageArea_bins'].map(mask)

In [126]:
#df_houses_5

In [127]:
# Since we now have the same number of total observations (rows) we can re-use OHE from iteration 3 

# Concatenate the two dataframes: MSZoning_3_ohe, MSZoning_3_ohe and OverallCond_ohe to the df_houses_5 dataframe

df_houses_5_t = pd.concat([df_houses_5, MasVnrType_3_ohe], axis=1)

In [128]:
df_houses_5_t = pd.concat([df_houses_5_t, MSZoning_3_ohe], axis=1)

In [129]:
df_houses_5_t = pd.concat([df_houses_5_t, Neighborhood_3_ohe], axis=1)

In [130]:
# Drop the original attributes YearBuilt, YearBuilt_bins, LotFrontage, LotFrontage_bins 
# GarageArea, GarageArea_bins, 'MasVnrType', 'MSZoning' and 'Neighborhood'

df_houses_5_t = df_houses_5_t.drop([
    'YearBuilt', 
    'YearBuilt_bins', 
    'LotFrontage', 
    'LotFrontage_bins',
    'GarageArea',
    'GarageArea_bins',
    'MasVnrType', 
    'MSZoning', 
    'Neighborhood'],
    axis=1
)

In [131]:
df_houses_5_t.head(5)

,target,YearBuilt_labels,LotFrontage_labels,GarageArea_labels,BrkCmn,BrkFace,None,Stone,C (all),FV,RH,RL,RM,Blmngtn,Blueste,BrDale,BrkSide,ClearCr,CollgCr,Crawfor,Edwards,Gilbert,IDOTRR,MeadowV,Mitchel,NAmes,NPkVill,NWAmes,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,1,2001.0,65.0,532.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1977.0,80.0,466.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1,2001.0,65.0,576.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,1916.0,60.0,672.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,2001.0,85.0,851.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [132]:
# Remove the 'target' attribute and defining X

df_houses_5_t_x = df_houses_5_t.drop(['target'], axis=1)

In [133]:
# Calculate the baseline for iteration 5

train_and_evaluation(X=df_houses_5_t_x, y=df_houses_5_t['target'])

0.8257261410788381

**6.** Baseline - subset of transformations:
    
* Replace NaN observations in categoric attributes by the mode
* Replace NaN observation in numeric attributes by the median 
* USe feature scaling with MinMax ranging betwen 0 and 1
* Apply One Hot Encoding in the ['MasVnrType'], ['MSZoning'] e ['Neighborhood'] attributes

**Accuracy: 0.8340**

In [134]:
# Using the df_houses_3 dataframe since it already have the NaN replaced by median and mode

df_houses_6 = df_houses_3.copy()

In [135]:
df_houses_6.isnull().sum()

YearBuilt       0
LotFrontage     0
MasVnrType      0
MSZoning        0
GarageArea      0
Neighborhood    0
target          0
dtype: int64

In [136]:
df_houses_6.shape

(1460, 7)

In [137]:
# Drop the original attributes 'MasVnrType', 'MSZoning', 'Neighborhood' and 'target'

df_houses_6_x = df_houses_6.drop(['target', 'MasVnrType', 'MSZoning', 'Neighborhood'], axis=1)

In [138]:
#df_houses_6_x

In [139]:
# Defining the zscore with MinMaxScaler range between 0 and 1

zscore = MinMaxScaler(feature_range=(0,1))

In [140]:
# Use fit_transform to fit and transform the dataframe df_houses_5_x with the zscore

df_houses_6_x_minmax = zscore.fit_transform(df_houses_6_x)

In [141]:
# Transform the numpy array in a pandas dataframe with the correct attribute names

df_houses_6_x_minmax_t = pd.DataFrame(df_houses_6_x_minmax, columns = ['YearBuilt', 'LotFrontage', 'GarageArea'])

In [142]:
# Concatenate the three dataframes: MSZoning_3_ohe, MSZoning_3_ohe and  Neighborhood_3_oheto the df_houses_6_x_minmax_t dataframe

df_houses_6_x_minmax_t = pd.concat([df_houses_6_x_minmax_t, MasVnrType_3_ohe], axis=1)

In [143]:
df_houses_6_x_minmax_t = pd.concat([df_houses_6_x_minmax_t, MSZoning_3_ohe], axis=1)

In [144]:
df_houses_6_x_minmax_t = pd.concat([df_houses_6_x_minmax_t, Neighborhood_3_ohe], axis=1)

In [145]:
df_houses_6_x_minmax_t.head(5)

,YearBuilt,LotFrontage,GarageArea,BrkCmn,BrkFace,None,Stone,C (all),FV,RH,RL,RM,Blmngtn,Blueste,BrDale,BrkSide,ClearCr,CollgCr,Crawfor,Edwards,Gilbert,IDOTRR,MeadowV,Mitchel,NAmes,NPkVill,NWAmes,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,0.949275,0.150685,0.386460,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.753623,0.202055,0.324401,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.934783,0.160959,0.428773,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.311594,0.133562,0.452750,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.927536,0.215753,0.589563,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [146]:
# Calculate the baseline for iteration 5

train_and_evaluation(X=df_houses_6_x_minmax_t, y=df_houses_6['target'])

0.8340248962655602